body{
    background-color: gray;
}



.container{
    width: 1024;
    height: 500px;
    background-color: aqua;
}

.box1{
    width:200px;
    height: 200px;
    background-color: blue;
    float:left;
    margin-left:10px;
    
}

.box2{
    width: 100px;
    height: 100px;
    background-color: pink;
    float:left;
    margin:0px 0px 0px 10px;
}

.row{
    width: 500px;
    height: 200px;
    background-color: blueviolet;
    clear:both;
}
    
