.container{
    width: 100%;
}


.left{
    background-color: yellow;
    width: 60%;
    height: 300px;
    float: left;
}
.right{
    background-color: red;
    width: 40%;
    height: 300px;
    float: left;
}

